:root {
    --jm-dark-purple: #2b1851;
    --jm-semidark-purple: #26154d;
    --jm-pattern-purple-a: #5215a1;
    --jm-pattern-purple-b: #06006b;
    --jm-gold: #ffcc29;  
    --jm-yellow: #edf823;  
    --jm-base-purple: #1b0f33;
}
